@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #0f172a;
  background: #f7faf9;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
